/* MAIN COLORS 
gradient: https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png
Stormi: #5390d9
Cloud: #ffffff

*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.App{
  text-align: center;
  color: #ffffff;
  font-family: 'Francois One', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom:2px solid #ffffff;
}
nav a {
  margin: 5px 20px;
  text-decoration: none;
}
body{
  background-image: url('https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png');
}

.service-buttons, section{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  align-items: center;
}
section{
  box-sizing: border-box;
  width: 40%;
  background-color:#ddd;
  cursor: pointer;
  box-shadow: 7px 7px 4px rgb(155, 155, 155);
}
section :hover{
  cursor: pointer;
}
.service-container{
  display:flex;
  flex-direction: row;
}


.bill-table {
  width: 100%;
  display: table;
}
.bill-table-caption{
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.table-header-cell{
  display: flex;
  row: 100vw
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}
.bill-table-body{
    display: table-row-group;
    every row has to have display flex and 100vw
    any cell flex: 1 
    text-align: center;
    background-color: blueviolet;
}
.bill-table-row{
  display: table-row;
}
.table-body-cell{
  display: table-cell;
}
.bill-table-footer{
  display: table-footer-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.table-footer-cell{
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}

.create-new{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 30px;
  border: 5px solid white;
  width: fit-content;
  box-sizing: border-box;
}
.create-new input, textarea {
  width: 200px;
  max-width: 200px;
  padding: 5px;
}

.update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 30px;
  border: 5px solid white;
  width: fit-content;
  box-sizing: border-box;
}
.update-form input{
  width: 200px;
  max-width: 200px;
  padding: 5px;
}
.update-header{
  margin: 0px auto 15px
}
/* Cited 
// https://webgradients.com/
// https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png
*/
