/* MAIN COLORS 
gradient: https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png
Stormi: #5390d9
Cloud: #ffffff

*/

.App{
  text-align: center;
  color: #ffffff;
  
}

body{
  background-image: url('https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png');
}



/* Cited 
// https://webgradients.com/
// https://webgradients.com/public/webgradients_png/041%20Happy%20Acid.png
*/
